footer a{
    display:none;
}

input[type="submit"]{

    text-align: center;
    text-decoration: none;
    background-color: #952C2A;
    padding: 5px;
    border-radius: 4px;
    color: white; 
    text-transform: uppercase;
    margin: 15px auto;
}

input{
    text-align: center;
    margin: 0px auto;
}

section{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body>div>section{
    background-color: white;
}

section h1{
    text-shadow: 2px 0px 10px #952C2A;
}

#recensione{
    width: 500px;
    height: 500px;
}

#desiderio{
    width: 500px;
    height: 500px;
}